$primary-color: rgba(45, 102, 238, 1);
$secondary-color: rgba(16, 24, 40, 1);
$background-color: rgba(242, 244, 247, 1);
$white: rgba(255, 255, 255, 1);
$footer-text: rgba(152, 162, 179, 1); 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background: $background-color;
}

.container {
  max-width: 1224px;
  margin: 0 auto;

  @media (max-width: 1439px) and (min-width: 767px) {
      max-width: 960px;
      padding: 3rem 2.4rem;
  }

  @media (max-width: 767px) {
      max-width: 100%;
      padding: 3rem 2rem;
  }
}

.blockBackImg {
  overflow: hidden;
  position: relative;

  .animatedBackground {
    position: absolute;
    top: -100px;
    right: -200px;
    width: 55%;
    height: 120%;
    overflow: visible;
    transform: rotate(-10deg); 
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    @media (max-width: 1439px) {
      width: 50%;
      right: -55px;
    }
    @media (max-width: 767px) {
      top: 25vh;
      overflow: hidden;
    }

    .animatedImgLeft, .animatedImgRight {
      width: 40%;
      height: 200%;
      background-repeat: repeat-y;
      background-size: contain; 
      background-position: center top;
      animation: scroll-vertical 20s linear infinite;

      @media (max-width: 767px) {
        background-position: right bottom;
      }
    }

    .animatedImgLeft {
      background-image: url("../img/column-left.png"); 
    }

    .animatedImgRight {
      background-image: url("../components/column-right.webp"); 
      animation-direction: reverse; 
    }
  }
}

@keyframes scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

header {
  position: sticky;
  top: 2rem;
  z-index: 1000;
  width: 90%;
  height: 12%;
  margin: auto;
  padding: 1.6rem 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color:$white;
  box-shadow: 0rem 0.2rem 0.4rem 0rem rgba(0, 0, 0, 0.08);

  h3 {
    font-size: 2rem;
    font-weight: 600;
    color: $primary-color;
  }

  @media (max-width: 1439px) {
    top: 10px;
    width: 100%;
    height: 9rem;
    justify-content: space-between; 
  }
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2.4rem;

  @media (max-width: 1439px) {
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }
}

button {
  background: $primary-color;
  padding: 1.1rem 2.4rem;
  border-radius: 0.8rem;
  color: $white;
  border: none;
}

.phone, .email {
  display: flex;
  flex-direction: row;
  
  &.phone{
    @media (max-width: 1439px) {
      display: none;
    }
    p{
      white-space: nowrap;
    }
  }

  @media (max-width: 767px){
    display: none;
  }
}

.hamburger {
  display: none;

  @media (max-width: 1439px) {
    display: block;
  }
}

nav {
  width: auto;
  min-width: 100px;
  max-width: 30%;

  .navLinks {
    margin: 0 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;

    li {
      margin-right: 2rem;
      color: $secondary-color;
      font-weight: 500;
      font-size: 1.4rem;

      a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 1439px) {
    display: none;
  }
}

.headImg, .footImg {
  margin-right: 0.5rem;

  &.headImg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.contact {
  display: flex;
  flex-direction: row;

  p {
    margin-right: 2rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: $primary-color;
    line-height: 2.4rem;

    &.phone {
      white-space: nowrap;
    }
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }
}

.mainBlock {
  width: 100%;
  height: 79rem;
  padding: 6rem 0;

  @media (max-width: 1439px) {
    height: auto;
    padding: 2rem 0rem 2rem 2rem;
  }
}

.blueTxt {
  color: $primary-color;
}

.mainDescription {
  width: 60rem;
  margin-top: 4rem;

  p {
    font-size: 1.5rem;
    font-weight: 500;
    @media (max-width: 1439px) and (min-width: 767px) {
      width:88%;
    }
  }

  @media (max-width: 1439px) and (min-width: 767px) {
    width: 53%;
    height: auto;
    margin-top: 2rem;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 50%;
    margin-top: 2rem;
    margin-bottom: 110%
  }
}

.contactForm {
  width: 67.6rem;
  height: 18.6rem;
  padding: 2.4rem;
  border-radius: 1.2rem;
  background: $white;
  box-shadow: 0rem 0rem 2.4rem 0rem rgba(0, 0, 0, 0.16);
  margin-top: 4rem;

  @media (max-width: 1439px) {
    width: 29.5rem;
    height: auto;
    padding: 3.2rem;
    margin-top: 2.4rem;
  }

  @media (max-width: 767px){
    width: 98%;
    margin-top: 0; 
    margin-right: 1rem; 
  }

  p {
    width: 45rem;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;

    @media (max-width: 1439px) {
      width: 100%;
      font-size: 1.6rem;
    }

    @media (max-width: 767px) {
      width: 85%;
    }
  }

  .formInput {
    form {
      width: 62.8rem;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-top: 3.2rem;

      @media (max-width: 1439px) {
        width: 100%;
        flex-direction: column; 
        align-items: start;
      }

      input {
        font-size: 1.7rem;
        border: 0.7px solid rgba(208, 213, 221, 1);
        border-style: none none solid none;

        @media (max-width: 1439px) {
          font-size: 1.4rem;
        }

        &::placeholder {
          color: $secondary-color;
        }
      }

      .formInputGroup {
        margin-right: 2rem;
        @media (max-width: 1439px) {
          margin-bottom: 2rem; 
        }
      }

      button {
        width: 13.2rem;
        height: 5.8rem;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: left;
        @media (max-width: 1439px) {
          width: 160px;
          margin-top: 1.2rem;
        }
      }
    }

    label {
      font-size: 1.3rem;
      display: block;
      margin-bottom: 0.5rem;
      color: rgba(102, 112, 133, 1);
    }
  }
}

.fullWidthBackground {
  width: 100%;
  background-color: $white;
  padding: 6rem 0;

  .typesDevelopment {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $white;

    h3 {
      margin: 3rem 0 1.5rem 0;
    }

    @media (max-width: 1439px) {
      padding: 2rem 0rem 2.6rem 2rem;
      height: auto;
    }

    @media (max-width: 767px) {
      display: block;
    }
  }
}

.webAndMobile {
  width: 49.6rem;
  height: 32.4rem;
  font-size: 1.7rem;
  margin-right: 28rem;

  @media (max-width: 1439px) {
    width: 50%;
    height: auto;
    font-size: 1.4rem;
    margin-right: 8%; 
  }

  @media (max-width: 1439px) {
    width: 75%;
  }

  p {
    line-height: 2.2rem;
  }
}

.signature {
  font-size: 1.5rem;
}

.choiceDevelopment {
  width: 23.3rem;
  height: 34rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;

  @media (max-width: 1439px) {
    width: 40%;
    margin-top: 15%;
    height: auto;
  }

  @media (max-width: 1439px) {
    width: 100%;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 1.2rem;

      a {
        text-decoration: none;
        color: black;
        line-height: 3.4rem;
        
        @media (max-width: 1439px) {
          line-height: 2.4rem;
        }
      }
    }
  }
}

footer {
  background: $secondary-color;
  padding: 2rem 0;
  color: $white;
  text-align: center;
  width: 90%;
  margin: auto;
  border-radius: 1.2rem;
  height: 22.2rem;

  @media (max-width: 1439px) {
    width: 100%;
  }

  .footerSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4.8rem;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 8%;
    }

    .contactFooter {
      @media (max-width: 767px) {
        width: 50%;
        text-align: start;
      }
      p {
        font-size: 1.7rem;
        color: $white;

        @media (max-width: 1439px) {
          font-size: 1.4rem;
        }
      }
      .contactFooterBlock{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
        p{
          font-size: 1.4rem;
          color: $footer-text;
        }  
      } 
    }
  }
  .footerSectionBlock{
    width: 19rem;
    margin:auto;
    font-size: 1.3rem;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}